/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--text-card-weight);
  color: var(--color-text);
  background-image: var(--background-gradient);
  background-size: cover;
}

.header {
  font-family: var(--accent-font);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 155.5px;
}

/*стили header*/

.title {
  font-size: var(--size-h1);
  font-family: var(--accent-font, fantasy);
}

.h1 {
  font-size: var(--size-h2);
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.heading-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(700px, 700px, 700px);
  height: 368px;
  background-color: #fff;
  border: 2px solid #000;
  margin-block-start: 90px;
  margin-inline-start: 162px;
  margin-block-end: 102px;
  flex-direction: column;
  gap: 20px;
}

/*стили секций*/

.card-item {
  display: flex;
  flex-direction: column;
  inline-size: clamp(300px, 696px, 100%);
  min-block-size: min-content;
  margin: 0 auto 52px auto;
  outline: 2px solid #000;
  background-color: var(--bg-color);
}

.card-item-img {
  position: relative;
  outline: 2px solid #000;
}

.img {
  display: block;
  width: clamp(696px, 696px, 696px);
  height: clamp(696px, 696px, 696px);
  overflow: hidden;
}

.h2 {
  padding: 5px 24px 5px 10px;
  background-color: var(--heading-style-color);
  font-size: 18px;
  word-spacing: 1px;
}

.span-img {
  font-size: 14px;
  position: absolute;
  z-index: 2;
  right: 25px;
  top: 25px;
  background-blend-mode: hard-light;
  font-family: var(--accent-font);
  -webkit-text-stroke: 1px #FFFFFF;
  text-shadow: none;
  background-blend-mode: hard-light;
}

.button__text {
  font-family: var(--accent-font);
}

/*параграфы*/

.card-text {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  letter-spacing: 0.53px;
}

.card-item-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 28px 25px;
}

/*кнопка*/

.button-item {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0 25px 0 0;
}

.card__like-button {
  width: clamp(130px, 130px, 130px);
  height: clamp(38px, 38px, 38px);
  background-color: var(--background-color);
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
}

.card__icon-button {
  background-color: var(--background-color);
  border: none;
  margin-block-start: 2px;
  margin-inline-end: 5px;
}

.button-text {
  border: none;
  outline: 2px solid #000;
  position: relative;
  display: flex;
  inline-size: 130px;
  align-items: center;
  justify-content: center;

  z-index: 2;
  mix-blend-mode: difference;
}

.card-accent {
  margin-block-end: 25px;
}

.img-2 {
  filter: saturate(30%);
}

.card__like-button,
.btn {
  position: relative;
  padding: 10px 20px;
  background: #fff;
  border: 2px solid #000;
  color: transparent;
  font-family: sans-serif;
  cursor: pointer;
  overflow: hidden;
}

.card__like-button::before,
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button__text {
  position: relative;
  display: inline-block;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 2;
}

.card__like-button:hover::before,
.btn:hover::before {
  transform: scaleX(1);
}

.save-button {
  margin: 0;
  margin-inline-start: 342px;
  background-color: var(--background-color);
  width: 340px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

/*окно*/

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(7px);
}

dialog[open] {
  display: flex;
  inline-size: 353px;
  block-size: 191px;
}

.wrapper {
  display: flex;
}

.text-modal-window {
  font-size: 14px;
  font-family: var(--accent-font);
  margin-block-start: 30px;
  margin-inline-start: 30px;
}

.floppy-open {
  margin-block-start: 30px;
  margin-inline-start: 30px;
  height: 39px;
  height: 39px;
}

.button-span {
  border: none;
  background-color: var(--bg-color);
}

.text {
  border: none;
  outline: 2px solid #000;
  position: relative;
  display: flex;
  inline-size: 293px;
  block-size: 38px;
  align-items: center;
  justify-content: center;
  margin-block-start: 30px;
  font-family: var(--accent-font);
}

.btn,
.save-button {
  margin-block-end: 100px;
}

/*фильтры*/

.sepia {
  filter: sepia(70%);
}

.brightness {
  filter: brightness(90%);
}

.contrast {
  filter: contrast(60%);
}

.hue-rotate {
  filter: hue-rotate(0.5turn) opacity(70%);
}

.grayscale {
  filter: grayscale(70%);
}

.blur {
  filter: blur(10%);
}

.saturate {
  filter: saturate(20%);
}

.btn,
.save-button {
  color: #fff;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.icon-floppy {
  z-index: 2;
  width: 21px;
  height: 21px;
  color: var(--text-color-button);
  mix-blend-mode: difference;
  margin-inline-end: 5px;
}

.floppy {
  width: 70px;
  height: 39px;
  margin-inline-start: 30px;
  margin-block-start: 30px;
}

.icon-window {
  width: 100px;
  height: 40px;
  margin-block-start: 30px;
}

.button-text {
  background-color: #fff;
  color: #fff;
}

.card__icon-button {
  color: #fff;
  background-color: #fff;
}

.card__like-button:focus,
.btn:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--color-accent);
  transition: box-shadow 0.3s ease;
}

.card__like-button,
.btn {
  position: relative;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #000;
  color: transparent;
  font-family: sans-serif;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
}

.card__like-button::before,
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button__text {
  position: relative;
  display: inline-block;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 2;
}

.card__like-button:hover::before,
.btn:hover::before {
  transform: scaleX(1);
}

.like-icon {
  height: 30px;
}

@media (width <=375px) {

  .heading-style {
    width: 100%;
    margin: 0;
    height: 327px;
  }

  .header {
    margin: 0;
    width: 100%;
    margin-block-start: 100px;
    margin-block-end: 103px;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 49px;
  }

  .h1 {
    font-size: 14px;
  }

  .card-item-text {
    margin-inline-end: 9px;
    width: 100%;
  }

  .btn {
    width: 306px;
    height: 84px;
    margin: 0;
    margin-inline: 34.5px;
    flex-direction: column;
    gap: 8px;
    margin-block-end: 102px;
  }

  .card-item {
    border: 2px solid #000;
  }
}